@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans/opensanslight.woff2') format('woff2'), url('../fonts/OpenSans/opensanslight.woff') format('woff'), url('../fonts/OpenSans/opensanslight.ttf') format('truetype');  
}

@font-face {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    font: url('../fonts/OpenSans/opensans.woff2') format('woff2'), url('../fonts/OpenSans/opensans.woff') format('woff'), url('../fonts/OpenSans/opensans.ttf') format('truetype');  
}


@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OpenSans/opensanssemibold.woff2') format('woff2'), url('../fonts/OpenSans/opensanssemibold.woff') format('woff'), url('../fonts/OpenSans/opensanssemibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Playfair/playfairdisplay.woff2') format('woff2'), url('../fonts/Playfair/playfairdisplay.woff') format('woff'), url('../fonts/Playfair/playfairdisplay.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Playfair/playfairdisplaybold.woff2') format('woff2'), url('../fonts/Playfair/playfairdisplaybold.woff') format('woff'), url('../fonts/Playfair/playfairdisplaybold.ttf') format('truetype');  
}